body {
margin:0;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(270deg,#ff9a9e,#fad0c4,#fad0c4,#ffdde1);
background-size:600% 600%;
animation:bgMove 10s infinite;
}

@keyframes bgMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

.lockscreen{
background:pink;
padding:10px;
border-radius:15px;
text-align:center;
box-shadow:0 0 20px rgba(0,0,0,0.2);
}

button{
padding:10px 20px;
border:none;
background:#ff4d6d;
color:white;
border-radius:8px;
cursor:pointer;
}
.main{
padding-top:5px;
text-align:center;
}
.surprisePage{
display:block;
text-align:center;
padding-top:20px;
font-size: 7px;
webkit-border-horizontal-spacing: 10px;;
}

.message{
font-size:10px;
width:40%;
margin:auto;
line-height:1.6;
}

canvas{
position:fixed;
top:0;
left:0;
pointer-events:none;
}
.envelope{
display:none;
margin-top:20px;
background:gold;
padding:20px;
width:300px;
margin-left:auto;
margin-right:auto;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.letter{
font-size:
20px;
line-height:1.6;
}